<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to Wonder Shapes leading creator of digital shapes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Wonder Shapes</title>
</head>
<body class="home">
    <section>
        <img src="./image/logo.svg" alt="Wonder logo" width="64"/>
        <h1>Wonder Shapes</h1>
        <h2>Shaping the world for you to live in</h2>
        <a href="./blog">Explore</a>
    </section>
    <footer>
        <a href="./about">About Us</a>
        <a href="./privacy">Privacy Policy</a>
        <a href="./terms">Terms of Use</a>
        <a href="./contact">Contact Us</a>
        <a href="./blog">Blog</a>
        <a href="./news">News</a>
    </footer>
</body>
</html>